@theme {
  --color-dbu-navy: #003366;
  --color-dbu-blue: #2980b9;
  --color-dbu-gold: #fdc800;

  --font-sans: "Open Sans", ui-sans-serif, sans-serif;
  --font-heading: "Roboto", ui-sans-serif, sans-serif;
}
